:root {
  --main-gold: rgba(245, 192, 0, 0.58);
}

html {
  /* background-color: black; */
}

.App-background {
  /* border: solid var(--main-gold) .5vh; */
  border-radius: 5px;
  /* background-color: black; */
  /* background-size: contain; */
  /* display: flex; */
}

.App-container {
  background-image: url("../assets/images/woodgrain.jpg");
  background-repeat: repeat;
  height: 100vh;
  width: 100vw;
  /* background-size: contain; */
  display:flex;
  /* flex-grow: 1; */
  /* background-color: black; */
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.App-title {
  font-size: 15vw;
  font-weight: 900;
  max-width: 100%;
  /* background-size: cover; */
  color: var(--main-gold);
}

.main-console{
  border: solid var(--main-gold) .5vh;
  border-radius: 5px;
  background-image: url("../assets/images/woodgrain.jpg");
  background-size: contain;
  background-color: transparent;
  display: none;
  aspect-ratio: 1000 / 668;
  min-height: 33.4vh;
  min-width: 50vw;
  /* flex-grow: 1; */
  /* justify-content: center;
  align-items: center; */
  background-repeat: no-repeat;
  /* position: absolute; */
}

.leftSideButton {
  background-color: transparent;
  min-height: 100%;
  min-width: 50%;
  z-index: 4;
}

.rightSideButton {
  background-color: transparent;
  z-index: 4;
  min-width: 50%;
  min-height: 100%;
}

/* .Left-text {
  display: none;
  left: 16vh;
  position: absolute;
  color: rgba(249, 237, 18, 0.801);
}

.Right-text {
  display: none;
  right: 8vh;
  position: absolute;
  color: rgba(249, 237, 18, 0.801);
} */

.terminal {
  border: solid var(--main-gold) .5vh;
  border-radius: 5px;
  background-color: transparent;
  aspect-ratio: 1000 / 668;
  /* height: 33.4vh;
  width: 50vw; */
    /* background-repeat: no-repeat; */
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
  /* background-color: var(--main-gold); */
  /* background-size: contain; */
  display:flex;
  /* flex-grow: 1; */
  /* background-color: black; */

}

/* .terminal-container {
  border: solid var(--main-gold) .5vh;
  height: 33.4vh;
  width: 50vw;
  display: flex;
} */