


.App-background {
  background-size: contain;
}

.App-container {
  background-image: url("./assets/images/woodgrain.jpg");
  background-repeat: repeat;
  background-size: contain;
  display:inline-flex;
  flex-grow: 1;
  background-color: black;
  z-index: 1;
}

.App-title {
  font-size: 200px;
  font-weight: 900px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  color: rgb(249, 238, 18);
}

.main-console{
  background-image: url("./assets/images/selfsimulator3.jpg");
  background-size: cover;
  background-color: transparent;
  /* height: 100vh; */
  /* width: fit-content; */
  /* display: flex; */
  /* flex-grow: 1; */
 justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  /* border: solid black 2vh; */
  position: absolute;
}

.leftSideButton {
  background-color: transparent;
  /* border: solid black 2vh; */
  /* height: '100%';
  width: 55vh; */
  /* position: absolute; */
  /* opacity: 0; */
}

.rightSideButton {
  background-color: transparent;
  /* border: solid black 2vh; */
  /* height: '100%'; */
  /* width: 55vh; */
  /* position: absolute; */
  /* opacity: 0; */
}